.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px 5px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.status {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
}
